.container
  .row
    .row
      .row
        .boxes
          .col-xs-10.col-sm-5.col-lg-3
            .box
              .icon
                .image
                  %span.glyphicon.glyphicon-plus.btn-lg.white
                .info
                  %h3.title Book an order
                  %p
                    Book now, get your fresh clothes tomorrow!
                  .more
                    %a=link_to 'Book Order', new_order_path

              .space
          .col-xs-10.col-sm-5.col-lg-3
            .box
              .icon
                .image
                  %span.glyphicon.glyphicon-list.btn-lg.white
                .info
                  %h3.title View Orders
                  %p
                    View all your pending, current and past orders.
                  .more
                    %a=link_to 'View Orders', history_path
              .space
          .col-xs-10.col-sm-5.col-lg-3
            .box
              .icon
                .image
                  %span.glyphicon.glyphicon-gbp.btn-lg.white
                .info
                  %h3.title Estimate your order
                  %p
                    Estimate the cost of your order with our calculator
                  .more
                    %a{href: "#", title: "Title Link"}
        
              .space