.btn-group#order-status-selection{"data-toggle" => "buttons"}
  %label.btn.btn-primary.active
    %input#morning{checked: "checked", name: "options", type: "radio", data:{status: "AM"}}/
    Morning
  %label.btn.btn-primary
    %input#afternoon{name: "options", type: "radio", data:{status: "PM"}}/
    Afternoon

%p Map

#map_canvas