.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-tag.btn-lg.white
          .info
            %h3.title Current orders
            Days of the week
            current_user.orders


