.row
  .boxes
    .col-xs-12
      .large.box
        .icon
          .image
            %span.glyphicon.glyphicon-tag.btn-lg.white
          .info
            %h3.title Today's Orders
            - @orders.each do |order|
              %b= order.pickup_time
              %b= order.user.address
              = order.user.first_name
              %br



