/ .btn-group#order-status-selection{"data-toggle" => "buttons"}
/   %label.btn.btn-primary.active
/     %input#morning{checked: "checked", name: "options", type: "radio", data:{status: "AM"}}/
/     Morning


/   %label.btn.btn-primary
/     %input#afternoon{name: "options", type: "radio", data:{status: "PM"}}/
/     Afternoon


- @morning_orders.map do |morning|
  - pickup = morning.pickup_time
  - dropoff = morning.return_day
  = @address = morning.user.zipcode
  - name = morning.user.last_name
  - latitude = get_coords(@address)["lat"]
  - longitude = get_coords(@address)["lng"]


%address #{@address}

#map_canvas

